$primary: #FA4A0C;
$secondary: #737373;
$white : #FFFFFF;
$black: #000000;
$gray : #5C5C5C;
$dark_blue: #252B42;
$light_gray : #F7F7F7;
$light: #E4E4E4;

$size: 16px;
$family: 'Montserrat', sans-serif;

$breakpoint: 992px;

/* BASE */
*{
  font-family: $family;
  color: $secondary;
  font-size: $size;
  font-style: normal;
}
a{
 color: $dark_blue;
 -webkit-transition: all ease .5s;
 -o-transition: all ease .5s;
 transition: all ease .5s;
 
 &:hover{
  color:$primary;
  text-decoration: none;
 }
}
img{
  max-width: 100%;
}
body, html{
  height: 100%;
}
footer a {
  margin: 10px;
  cursor: pointer;
}

/*LAYOUT*/

/*Header*/
.header__logo {
  margin: 8px 0;
}
@media (max-width: $breakpoint){
  .header__logo img{
    max-width: 104px;
    height: auto;
  }
}

.menu-item a{
  font-family: $family;
	line-height: $size * 1.75;
	font-style: normal;
	font-weight: 600;
	text-align: center;
	letter-spacing: 0.2px;
  padding: 10px;
  margin: 25px;
}
.menu-item.current-menu-item a{
  color:$primary;
}
.navbar-light .navbar-toggler {
  border-color: transparent;
}
@media (max-width: $breakpoint){
  .menu-item {
    text-align: center;
  }
}

/*Banner Top*/
.home__banner--top{
	min-height: 600px;  
  & h1,  
  & h4,
  & a{
    color: $white;    
  }
  & h3{
    color: $light_gray;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
	  letter-spacing: 0.1px;
    padding: 20px 20px 10px 20px;
    margin: 30px auto 0 auto;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
  }
  & h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 58px;
    line-height: 1.38;
    text-align: center;
	  letter-spacing: 0.2px;
    padding: 0px 20px 20px 20px;
  }
  & h4{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.58;
    text-align: center;
    letter-spacing: 0.2px;
    color: $light_gray;
  }

  & .order--1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  & .order--2{
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  } 
}
@media (max-width: $breakpoint){
  .home__banner--top {
    & h3 {
      font-size: 16px;    
      color:$secondary;  
    }
    & h1{
      font-size: 36px;
      color: $dark_blue;
    }
    & h4{
      color: $secondary;
    }
  }
}

/*Banner Bottom*/
.home__banner--bottom {
  margin-top: 6rem;
  & .text-content {
    & h2{
      font-weight: bold;
      font-size: 40px;
      line-height: 1.42;
      text-align: center;
      letter-spacing: 0.2px;
      color: $white;
      margin: 80px auto 30px auto;
    }
    & h4{
      font-weight: 500;
      font-size: 24px;
      line-height: 1.58;
      text-align: center;
      letter-spacing: 0.2px;
      color: $white;
    }
  }
}

/*Action Buttons*/
.action-content {
  max-width: 520px;
  margin: 3rem auto;
  & .button{    
    display: inline-block;
    padding: 12px 45px;
    border: 1px solid $white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0px auto;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    & h3{
      font-size: 16px;
      line-height: 1.75;
      letter-spacing: 0.2px;
      color: $white;
      margin:0;
      padding: 0;
    }
    &:hover{
      background-color: $primary;
      border-color: $primary;
    }
  }
  & .master-button{   
    border-radius: 30px;
    & h3{
      font-size: 24px;
      line-height: 1.5;
      letter-spacing: 0.1px;
      color: $white;
    }
  }
  & .filled{
    background: $primary;
    border-color:$primary;
    -webkit-box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
    box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);       

    &:hover{
      background-color: transparent;
      border-color: $white;
    }
  }
}
@media (max-width: $breakpoint){
  .home__banner--top  .action-content {
    & .button:not(.filled) {
        border-color: $primary;
        & h3{
          color: $primary;        
      }
    }    
    & .button:hover:not(.filled){
      background-color: $primary;
      & h3{
        color: $white;      
      }    
    }
    & .master-button.filled:hover{
      background-color: transparent;
      border-color: $primary;
      & h3{
        color: $primary;      
      }    
    }
  }
  .home__banner--bottom .action-content .button {
    padding: 12px 20px;
  }
}
.home__banner--bottom .action-content {
  max-width: 420px;
}